{% extends 'alunos/base.html' %}
{% load static %}
{% block parte_central %}
    <h1 class="titulo">Bem-vindo</h1>
    <div class="container">
        <div class="left-content">
            <img class="imagem" src="{% static 'image/imagem_geraldo.jpeg' %}" alt="Logo">
        </div>
        <div >
            <h2 class="card-title">Informações sobre mim</h2>
            <div>
                {% for pessoal in lista3 %}
                    <div class="interesse-card">
                        <p><strong>Email: </strong> {{ pessoal.email }}</p>
                        <p class="cidade"><strong>Cidade: </strong> {{ pessoal.cidade }}</p>
                        <p class="inter" ><strong>História </strong></p>
                        <div class="interesses-box">
                            <p>{{ pessoal.historia }}</p>
                        </div>
                        <a href="{% url 'index' %}" class="botao">Voltar ao início</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %} 