* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: chocolate;
    
}

.parte_central{
    background-color: rgb(182, 187, 187);
    width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    width: 40px;
    height: auto;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}


/*Parte do rodapé*/

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}