h1 {
    color: rgb(71, 250, 17);
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    display: block;
    margin: 0px 0px 20px 0px;
    background-color: rgb(145, 140, 140);
    width: 100%;
    padding: 10px;
}
.container {
    display: flex;
    align-items: flex-start; /* Alinha a imagem e o texto no topo */
    gap: 20px; /* Espaçamento entre a imagem e o conteúdo da lista */
    padding: 20px;
}


.imagem {
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-left: 80px;
}

.content {
    flex-grow: 1; /* Permite que o conteúdo ocupe o espaço restante */
}

.card-title {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.aluno-lista {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaço entre os cards */
}

.aluno-card {
    border: 1px solid #ccc;
    padding: 15px 30px;
    background-color: #f9f9f9;
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 700px; /* Define uma largura máxima opcional */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 20px;
}

.aluno-card p {
    margin: 8px 0;
}

.aluno-card .descricao {
    word-wrap: break-word; /* Quebra a linha quando o texto excede a largura */
    color: #555;
    font-size: 0.9em;
    text-align: justify;
}

.botao{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(253, 253, 253);
    background-color: rgb(138, 107, 96);
    border-radius: 4px;
    padding: 5px;
   
}
.botao:hover {
    background-color: #d22d2d;
    border-radius: 4px;
}