/*barrinha*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    position: fixed; /* Torna a barra de navegação fixa */
    top: 0; /* Posiciona a barra no topo da página */
    width: 100%; /* Garante que a barra ocupe toda a largura da página */
    z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}


.logo {
    width: 40px;
    height: auto;
}

/*parte do botao*/
.botao1{
    text-align: center;
}
.botao{
    text-decoration: none;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 20px;
    color: black;
}

.botao:hover{

    background-color: rgb(63, 62, 63);
    font-size: 30px;
    color: rgb(255, 255, 255);
}


/*Parte do rodapé*/

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    

}

.footer p {
    margin: 2px 0;
    font-size: 14px;
}